html, body{
    height: 98%;
    width: 98%;
    background-color: #666362;
    position: relative
}

.titulo{
    text-align: center;
}

.productos{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 70%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.producto{
    display: flex;
    border: 1px solid;
    width: 100%;
    margin: 2%;
}

.info{
    width: 80%;
    margin-top: 2%;
}

.descripcion, .nombre{
    text-align: left;
    margin-left: 2%;
    margin-top: 5%;
}

.precio{
    text-align: right;
}
